<div class="w-100 h-100">
  <h1 class="text-primary text-center mb-5">Wishlist</h1>
  <div class="row w-100 gx-0 justify-content-around mb-4">
    <div
      class="col-3 d-flex justify-content-center"
      *ngFor="let item of wishlistDataResponse"
    >
      <app-card
        [wishlistData]="item"
        (updatedWishList)="updatedWishList($event)"
      ></app-card>
    </div>
  </div>
  <div
    class="d-flex flex-column align-items-center"
    *ngIf="wishlistDataResponse.length == 0"
  >
    <h3>Your wishlist is empty</h3>
    <p>Save items that you like in your wishlist.</p>
  </div>
</div>
