<div class="card mb-4" (click)="onCard(data.id, data.categoryName)">
  <div class="card-image m-4">
    <img [src]="'./assets/database/images/' + data.categoryimgpath" />
  </div>
  <div class="card-body mt-4">
    <p class="text-center">{{ data.categoryName }}</p>
  </div>
</div>

<!-- <div class="card">
  <div class="card-image m-4">
    <img src="./../../../../assets/images/gift1.jpg" />
  </div>
  <div
    class="card-body mt-4 d-flex align-items-center justify-content-between px-4 my-auto"
  >
    <div class="card-text mt-1 d-flex flex-column">
      <span>Green birthday Card</span>
      <span class="price">100 Rs.</span>
    </div>
    <span class="icon icon-favorite text-danger"></span>
    <span class="icon icon-bucket-solid text-success d-none"></span>
  </div>
</div> -->
