<!-- start: card for categories -->
<div
  class="card mb-4"
  (click)="onCard(data.id, data.categoryName)"
  *ngIf="get !== true"
>
  <div class="card-image m-4">
    <img [src]="'./assets/database/images/' + data.categoryimgpath" />
  </div>
  <div class="card-body mt-4">
    <p class="text-center">{{ data.categoryName }}</p>
  </div>
</div>
<!-- end: card for categories -->

<!-- start: detailed card -->
<div class="card mb-4" *ngIf="get == true">
  <div class="card-image m-4" *ngIf="!mehndi">
    <img [src]="'./assets/database/images/' + productData.productImgpath" />
  </div>
  <div class="card-image m-4" *ngIf="mehndi">
    <img [src]="'./assets/database/images/' + productData.mehndiImgpath" />
  </div>
  <div
    class="card-body mt-4 d-flex align-items-center justify-content-between px-4 my-auto"
  >
    <div class="card-text mt-1 d-flex flex-column">
      <span>{{ productData.productName }}</span>
      <span *ngIf="mehndi">{{ productData.mehndiName }}</span>
      <span class="price">{{ productData.price }} Rs.</span>
    </div>
    <span
      class="icon text-danger"
      *ngIf="!mehndi"
      (click)="onFavourite()"
      [ngClass]="isLike == false ? 'icon-favorite' : 'icon-heart-solid'"
    ></span>
    <span class="text-success fw-bold" *ngIf="mehndi" (click)="onBook()"
      >Book Now</span
    >
    <span class="icon icon-bucket-solid text-success d-none"></span>
  </div>
</div>
<!-- end: detailed card -->
