<!-- start: contact-wrapper -->
<div>
  <h1 class="text-primary fw-bold text-center mb-3">Contact Us</h1>
  <p class="text-primary text-center fs-4">
    We love questions and feedback - and we’re always happy to help!
  </p>
  <div class="row bg-white gx-0 mt-5">
    <div class="col-6 border-end">
      <form class="p-5">
        <h2 class="fw-bold mb-4">Send us a Message</h2>
        <input
          type="text"
          placeholder="Enter your Name"
          class="w-100 p-3 mb-4"
        />
        <textarea
          rows="6"
          placeholder="Type your message here"
          class="w-100 p-3 mb-4"
        ></textarea>
        <button type="submit" class="text-white btn btn-warning px-5 py-2">
          Send
        </button>
      </form>
    </div>
    <div class="col-6 p-5">
      <h2 class="fw-bold mb-4">Contact Information</h2>
      <div class="d-flex align-items-center mb-4">
        <div
          class="icons-wrapper d-flex align-items-center justify-content-center"
        >
          <span class="icon icon-mail text-black"></span>
        </div>
        <p class="ms-4 fs-4">jinaltandel06@gmail.com</p>
      </div>
      <div class="d-flex align-items-center mb-4">
        <div
          class="icons-wrapper d-flex align-items-center justify-content-center"
        >
          <span class="icon icon-call text-black"></span>
        </div>
        <p class="ms-4 fs-4">9033982833</p>
      </div>
      <p class="fs-5">Follow us</p>
      <div class="social-media-icons mt-4">
        <span class="icon icon-instagram me-4"></span>
        <span class="icon icon-pinterest me-4"></span>
        <span class="icon icon-square-facebook"></span>
      </div>
    </div>
  </div>
</div>
<!-- start: contact-wrapper -->
