<div class="d-flex h-100 align-items-center justify-content-around">
  <div class="image-wrapper">
    <img src="./../../assets/images/gift1.jpg" />
  </div>
  <div class="image-wrapper ms-5">
    <img src="./../../assets/images/a.webp" />
  </div>

  <div class="description ms-5">
    <h1 class="text-primary text-center fw-bold mb-5">About Us</h1>
    <p>
      “Art and Craft + Mehndi Design House” was established in 2023. It is claim
      to fame retailer offering a tremendous choices of arts and crafts to a
      wide statistic of clients. We opened the “Art and Craft + Mehndi Design
      House” for Guajrat state only. We provide the hand made products to the
      clients.
    </p>
    <p>
      Our whole collection of traditional art and craft in the form of home made
      products. Different types of customized cards, gift boxes, chocolate boxes
      etc. are available on the website.
    </p>
    <p>
      Different types of Mehndi Designs are available on our website. We take
      the orders for mehndi according to client’s choice. Client can select the
      figures from the website for mehndi.
    </p>
  </div>
</div>
