@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?eals5x");
  src: url("fonts/icomoon.eot?eals5x#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?eals5x") format("truetype"),
    url("fonts/icomoon.woff?eals5x") format("woff"),
    url("fonts/icomoon.svg?eals5x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e90e";
}
.icon-magnifying-glass-solid:before {
  content: "\e900";
}
.icon-check-solid:before {
  content: "\e901";
}
.icon-calendar-regular:before {
  content: "\e902";
}
.icon-power-off-solid:before {
  content: "\e903";
}
.icon-bucket-solid:before {
  content: "\e904";
}
.icon-angle-down-solid:before {
  content: "\e905";
}
.icon-heart-solid:before {
  content: "\e906";
}
.icon-favorite:before {
  content: "\e907";
}
.icon-pinterest:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-square-facebook:before {
  content: "\e90a";
}
.icon-call:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e90c";
}
.icon-person:before {
  content: "\e90d";
}
.icon-shopping_basket:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
