//navbar
$nav-link-padding-x: 12px;
$nav-link-font-size: 20px;

//margin
$headings-margin-bottom: 0px;
$paragraph-margin-bottom: 0px;

//button
$btn-padding-x: 60px;
$btn-padding-y: 12px;
$btn-font-size: 20px;

//carousel
$carousel-control-color: black;