<header>
  <div
    class="d-flex justify-content-between align-items-center bg-primary px-3 py-3"
  >
    <figure class="brnad-logo"></figure>
    <nav class="nav align-items-center">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
      <a class="nav-link" [routerLink]="['/about-us']">About us</a>
      <div ngbDropdown>
        <a class="nav-link service-dropdown" id="services" ngbDropdownToggle
          >Services</a
        >
        <div ngbDropdownMenu="services">
          <button ngbDropdownItem [routerLink]="['/art-n-craft']">
            Art n Craft
          </button>
          <button ngbDropdownItem [routerLink]="['/mehndi-designs']">
            Mehndi Designs
          </button>
        </div>
      </div>
      <a class="nav-link" [routerLink]="['/contact-us']">Contact us</a>
      <a class="nav-link" [routerLink]="['/login']" *ngIf="!isLoggedIn"
        >Login</a
      >
      <div
        class="shopping-cart d-flex flex-column align-items-center"
        [routerLink]="['/shopping-cart']"
        *ngIf="isLoggedIn"
      >
        <span class="icon icon-cart fs-4 text-white mx-4"></span>
        <span class="text-white">Cart</span>
      </div>
      <div
        class="profile-icon-wrapper d-flex align-items-center"
        *ngIf="isLoggedIn"
        (click)="onProfile()"
      >
        <div
          class="profile-wrapper bg-white d-flex align-items-center justify-content-center"
        >
          <span class="icon icon-person"></span>
        </div>
        <span class="icon icon-angle-down-solid ms-2 text-white"></span>
      </div>
    </nav>
  </div>
</header>
