.card {
    height: 415px;
    width: 310px;
    overflow: hidden;
    background-color: $gray-300;
    cursor: pointer;

    .card-image {
        height: 300px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .wishlist-image {
            border-top-right-radius: 30px;
        }
    }


    .card-body {
        border-top: 1px solid #CBD0CF;

        p {
            font-size: 22px;
            margin-top: 12px;
        }

        .price {
            font-size: 22px;
        }

        .icon {
            font-size: 40px;
        }

        .icon-cart {
            font-size: 30px;
        }
    }

    .icon-cancel {
        top: 5px;
        right: 5px;
        height: 30px;
        position: absolute;
        opacity: 0.2;

        &:hover {
            opacity: 0.5;
        }
    }
}