<div class="profile border border-primary position-absolute">
  <ul class="nav flex-column" (click)="closeOverlay()">
    <li
      class="nav-item d-flex align-items-center justify-content-between px-3 border-bottom border-primary"
      (click)="onMyProfile()"
    >
      <a class="nav-link text-primary">My Profile</a>
      <span class="icon icon-person"></span>
    </li>
    <li
      class="nav-item d-flex align-items-center justify-content-between px-3 border-bottom border-primary"
      routerLink="wishlist"
    >
      <a class="nav-link text-primary">Wishlist</a>
      <span class="icon icon-favorite text-danger"></span>
    </li>
    <li
      class="nav-item d-flex align-items-center justify-content-between px-3 border-bottom border-primary"
      routerLink="my-order"
    >
      <a class="nav-link text-primary">My Orders</a>
      <span class="icon icon-bucket-solid text-primary"></span>
    </li>
    <li
      class="nav-item d-flex align-items-center justify-content-between px-3 border-bottom border-primary"
      (click)="onLogout()"
    >
      <a class="nav-link text-primary disabled">Logout</a>
      <span class="icon icon-power-off-solid text-danger"></span>
    </li>
  </ul>
</div>
