<div class="row bg-secondary h-100 align-items-center">
  <div class="col-6 h-100 d-flex flex-column">
    <div class="art-n-craft p-4 flex-grow-1 bg-white">
      <div id="carouselartncraft" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselartncraft"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselartncraft"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselartncraft"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselartncraft"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
        </div>
        <div class="carousel-inner h-100">
          <div class="carousel-item active">
            <img
              src="https://picsum.photos/id/984/900/500"
              class="d-block"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/id/1011/900/500"
              class="d-block"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/id/944/900/500"
              class="d-block"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/id/944/900/500"
              class="d-block"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselartncraft"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselartncraft"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="title bg-white p-5 d-flex justify-content-center">
      <h1 class="text-primary">ART & CRAFT</h1>
    </div>
  </div>
  <div class="col-6 h-100 d-flex flex-column">
    <div class="mehndi p-4 bg-white flex-grow-1">
      <div id="carouselmehndi" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselmehndi"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselmehndi"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselmehndi"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselmehndi"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
        </div>
        <div class="carousel-inner h-100">
          <div class="carousel-item active">
            <img
              src="https://picsum.photos/id/984/900/500"
              class="d-block"
              alt="..."
            />
          </div>
          <div class="carousel-item active">
            <img
              src="https://picsum.photos/id/984/900/500"
              class="d-block"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/id/1011/900/500"
              class="d-block"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/id/944/900/500"
              class="d-block"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselmehndi"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselmehndi"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="title bg-white p-5 d-flex justify-content-center">
      <h1 class="text-primary">MEHNDI DESIGNS</h1>
    </div>
  </div>
</div>
