<!-- start: homepage -->
<div class="row bg-secondary h-100">
  <!-- start: artNcraft section -->
  <div class="col-6 h-100 d-flex flex-column">
    <div
      class="art-n-craft w-100 position-relative p-4 d-flex justify-content-center flex-grow-1 bg-white"
    >
      <div
        id="carouselartncraft"
        class="carousel slide d-flex align-items-center"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselartncraft"
            data-bs-slide-to="0"
            class="active"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselartncraft"
            data-bs-slide-to="1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselartncraft"
            data-bs-slide-to="2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselartncraft"
            data-bs-slide-to="3"
          ></button>
        </div>
        <div class="carousel-inner flex-grow-1">
          <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-center">
              <img
                [src]="'./assets/database/images/' + artNcraftImg[3]"
                class="d-block"
                alt="slider image 1"
              />
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-center">
              <img
                [src]="'./assets/database/images/' + artNcraftImg[1]"
                class="d-block"
                alt="slider image 2"
              />
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-center">
              <img
                [src]="'./assets/database/images/' + artNcraftImg[2]"
                class="d-block"
                alt="slider image 3"
              />
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-center">
              <img
                [src]="'./assets/database/images/' + artNcraftImg[0]"
                class="d-block"
                alt="slider image 4"
              />
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselartncraft"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselartncraft"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
    <div class="title w-100 bg-white p-5 d-flex justify-content-center">
      <h1 class="text-primary" routerLink="../art-n-craft/art-n-craft-category">
        ART & CRAFT
      </h1>
    </div>
  </div>
  <!-- end: artNcraft section -->
  <!-- start: mehndi section -->
  <div class="col-6 h-100 d-flex flex-column">
    <div
      class="mehndi w-100 position-relative p-4 d-flex justify-content-center flex-grow-1 bg-white"
    >
      <div id="carouselmehndi" class="carousel slide d-flex align-items-center">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselmehndi"
            data-bs-slide-to="0"
            class="active"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselmehndi"
            data-bs-slide-to="1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselmehndi"
            data-bs-slide-to="2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselmehndi"
            data-bs-slide-to="3"
          ></button>
        </div>
        <div class="carousel-inner flex-grow-1">
          <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-center">
              <img
                [src]="'./assets/database/images/' + mehndiImg[0]"
                class="d-block"
                alt="slider image 1"
              />
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-center">
              <img
                [src]="'./assets/database/images/' + mehndiImg[1]"
                class="d-block"
                alt="slider image 2"
              />
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-center">
              <img
                [src]="'./assets/database/images/' + mehndiImg[2]"
                class="d-block"
                alt="slider image 3"
              />
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-center">
              <img
                [src]="'./assets/database/images/' + mehndiImg[3]"
                class="d-block"
                alt="slider image 4"
              />
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselmehndi"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselmehndi"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
    <div class="title w-100 bg-white p-5 d-flex justify-content-center">
      <h1 class="text-primary" routerLink="../mehndi-designs/mehndi-category">
        MEHNDI DESIGNS
      </h1>
    </div>
  </div>
  <!-- end: mehndi section -->
</div>
<!-- end: homepage -->
